.main {
    background-color: green;
    border: solid black 1px;
   
}
.link{
    text-align: center;
}
:link {color: black; text-decoration: none}
:visited {color: black;  font-family: arial }
:hover { color: black; font-family: arial  }



@media screen and (max-width: 500px){
.title{
    text-align: center;
}
}