.main {
    
    border: solid black 1px;
   
}
.link{
    text-align: center;
    color: black;
}
.img{
    display: block;
    margin: auto;
}


@media screen and (max-width: 500px){
.title{
    text-align: center;
    font-size: 100px;
    font-weight: bold;
}
.main{
    margin: 20px;
}
}