.container{
    background-color: red;
    margin-top: 20px;
    height: 80px;
}
.itemMenu{
    color: #FFF;
    font-size: 17px;
    font-weight: bold;
    padding-left: 30%;
}
.loginBtn{
    display: flex;
    justify-content: space-around;
}
@media screen and (max-width: 600px){
    .itemMenu{
        padding-left: 5%;
        font-size: 16px;
    }
    .container{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-right: 5%;
    }
}