.navBar {
    grid-area: navBar;
  }
.header {
    grid-area: header;
    width: 90%;
}
.img {
    grid-area: img;
}
.about {
    grid-area: about;
    width: 70%;
}
.contact {
    grid-area: contact;
    background-color: red;
    width: 70%;
}
.main {
    display: grid;
    gap: 10px;
    grid-auto-rows: minmax(150px, auto);
    grid-template-columns: auto;
    grid-template: 
    "navBar" 150px
    "header" 
    "img"
    "about"
    "contact"
}
.textHeader {
    width: 80%;
}
