.navBar {
    grid-area: navBar;
  }
.main{
    position: relative;
    top: 15vh;
    margin-bottom: 150px;
}
.header {
   
    grid-area: header;
    width: 100%;
    justify-content: center;
    align-content: center;
    
}
.img {
    margin-top: 30px;
    height: 250px;
    width: 250px;
    grid-area: img;
    border-radius: 10px;
    margin-bottom: 10%;
}
.about {
    grid-area: about;
    width: 70%;
    margin-left: 25px;
}
.contact {
    grid-area: contact;
    background-color: red;
    width: 70%;
}

.textHeader {
    width: 80%;
}
p{
    font-weight: bolder;
}
@media screen and (max-width: 500px){

.main{
    top: 1vh;
    margin-bottom: 45px;
    padding-top: 20%;
}
.img{
    width: 85%;
    margin-left: 8%;
    height: 100%;
}
.imgF{
    width: 85%;
    margin-left: 8%;
    height: 100%;
    margin-bottom: 0;
}
.about{
    width: 85%;
}
.contact{
    width: 100%; 
}
.textHeader {
    width: 100%;
}
.header{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.name{
    align-items: center;
    align-content: center;
    margin-left: 20%;
    margin-bottom: 10%;
}
}