.gridContainer{
    padding-top:11vh;
}

.containerEvents{
    display: flex;
    flex-direction: row;
}
.containerMission{
    background-image: url("https://res.cloudinary.com/dhmz7s3gc/image/upload/v1679444552/mujer2023_hhwf6f.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 300px;
    padding: 50px 0px 20px 0px;
}
.events{
    text-align: center;
    background-color: rgb(236 231 231 / 50%);
}

.triangulo_rectangulo {
    width: 0;
    height: 0;
    text-indent: -9999px;
    border-top: 90vh solid #FE6A04;
    border-right: 50px solid transparent;
  }
.mission{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    background-color: rgba(0, 0, 0, 0.4);
    height: 290px;
    justify-content: space-around;
    color: white;
}
.submission{
    padding-top: 60px;
    padding-left: 30px;
    padding-right: 50px;
    font-size: 15pt;
    font-weight: 600;
}
.title{
    border-bottom: solid 2px #fff;
    font-weight: 600;
    font-size: 22pt;
}
.description{
    padding-top: 5px;
    text-align: justify;
    font-size: 13pt;
}
.grid{
    margin-left: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media screen and (max-width: 600px){
    *{
        box-sizing: border-box;
      }

.gridContainer{
    padding-top: 0px
}
.containerMission{
    height: 420px;
    box-sizing: border-box;
    padding: 20px 0px 5px 0px;
}
.mission{
    display: flex;
    flex-direction: column;
    padding-top: 0;
    height: 360px;
}
.title{
    padding: 0;
}
.description{
    padding: 0;
    font-size: 11pt;
    text-align: justify;
}
.submission{
    padding-top: 10px;
}
.grid{
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 5px; 
}
.AllComunications{
    border: solid 1px black;
}
.join{
    border: solid 1px black;
}

    }