.container {
  background-color: #bc2c34;
  /* background-color: #d62828; */
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  align-items: center;
  justify-content: space-between;
  height: 12vh;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.menu {
  width: 100%;
}

.navList {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  font-size: 17px;
  font-weight: 600;
  width: 500px;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.redes {
  width: 80px;
  margin: 8px;
  display: flex;
  flex-direction: row;
  row-gap: 10px;
  justify-content: space-between;
  align-items: center;
}

.loginButton {
  display: flex;
  align-items: center;
  width: 300px;
  justify-items: center;
  justify-content: flex-start;
  flex-direction: row-reverse;
}

.itemMenu {
  color: #fff;
}

.botonLogin {
  width: 80px;
  border-radius: 10px;
  margin-left: 25px;
}

.logo {
  position: relative;
  margin-left: 8px;
  overflow: hidden;
  width: 40%;
}
.logoUp {
  width: 150px;
  margin-left: 20px;
  /* height: 80px; */
}

@media screen and (max-width: 600px) {
  .container {
    height: 100px;
    display: flex;
    flex-direction: row;
    position: relative;
  }
  .menu {
    width: 65%;
  }
  .logo {
    position: relative;
    margin-left: 8px;
    overflow: hidden;
    width: 70%;
  }
  .logoUp {
    width: 150px;
    margin-left: 20px;
  }
  .navList {
    display: grid;
    grid-template-columns: auto;
    font-size: 15px;
    text-align: left;
    align-items: center;
    margin-left: 0px;
    margin-right: 0px;
    justify-content: center;
    position: absolute;
    top: 100px;
    left: 0;
    background-color: #858585;
    display: flex;
    justify-content: space-around;
    position: fixed;
    width: 100vw;
  }
  .container {
    position: fixed;
    width: 100vw;
  }

  .loginButton {
    /*  position: relative;
    float: top;
    margin-top: 0px; */
    margin-top: 10px;
    width: 15%;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: flex-start;
    flex-direction: column;
    margin-right: 20px;
  }

  .botonLogin {
    margin-left: 0px;
  }

  .redes {
    height: 40px;
    width: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .redes a {
    margin-left: 4px;
  }
}
