.container{
    background-color: red;
    display: flex;
}

@media screen and (max-width: 500px){

.container{
    height: 150px;
    display: flex;
    flex-direction: row;

}
.menu{
    width: 65%;
}
.logoUp{
    width: 25%;
}
.logo{
    position: absolute;
    top: 10px;
    margin-left: 10px;
    overflow: hidden;
    width: 25%;
}
.navList{
    font-size: 20px;
}
.loginButton{
   /*  position: relative;
    float: top;
    margin-top: 0px; */
    margin-top: 10px;
    width: 15%;
}
}