.carouselImg {
  width: 50vw;
}
.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  border: solid 1px red;
  width: 180px;
  height: 40px;
  border-radius: 10px;
  text-decoration: none;
  color: white;
  background-color: red;
}

.button:hover{
  color: red;
  background-color: white;
}
.a1{
  display: flex;
    justify-content: flex-end;
    margin-right: -50px;
}
/* .second{
  padding-bottom: 0;
} */
@media screen and (max-width: 767px) {
  .carouselImg {
    width: auto;
  }
  .container{
    padding-top: 120px;
  }
  .button{
    height: 30px;
  }
}
