.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    width: 100%;
}

@media (max-width: 767px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr;
        padding: 0px;
        width: 100%;
    }
}