.main {
    height: auto;
    width: 100%;
    background-color: #bc2c34;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 20px;
    justify-items: center;
    color: whitesmoke;
    align-items: center;
    padding-bottom: 15px;
  }
  
  .info {
    align-items: start;
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  
  .info p {
    text-align: start;
    font-weight: 400;
  }
  
  .icon {
    width: 1px;
    height: 1px;
    padding: 10px;
  }
  
  .logo {
    width: 120px;
    height: 120px;
    padding: 10px;
  }
  
  .contact {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
  }
  
  p {
    margin-bottom: 0;
    text-align: center;
    width: 100%;
  }
  
  .redesFooter {
    align-items: start;
    display: flex;
    justify-content: center;
    align-items: start;
  }
  
  .redesFooter a {
    padding: 5px;
    text-align: start;
  }
  
  .link {
    color: whitesmoke;
  }
  
  .link:hover {
    color: wheat;
  }
  
  .middle {
    margin-top: 120px;
    text-decoration: underline;
  }
  
  @media screen and (max-width: 600px) {
    .main {
      grid-template-columns: 1fr;
      justify-items: start;
      padding: 10px;
    }
    
    .info {
      align-items: flex-start;
    }
    
    .logo {
      width: 70px;
      height: 70px;
    }

    .link {
        color: whitesmoke;
      }
    
    .contact {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: start;
      align-items: start;
      text-align: center;
      width: 100%;

    }

  
    p {
      margin-bottom: 0;
      text-align: center;
      width: 100%;
      font-size: 13px;
    }
  
    .middle {
      margin-top: 10px;
      width: 100%;
      font-size: 14px;
      text-decoration: underline;
    }
    
    .redesFooter {
      flex-direction: column;
      align-items: center;
    }
    
    .redesFooter a {
      padding: 5px;
      padding-top: 10px;
      display: flex;
      justify-content: center;
      text-align: center;
      width: 100%;
    }
  }
  
  