.main{
    background: url("../../Images/background.jpg") ;
    height: 200px;
    display: flex;
    margin-top: 20px;
}
.button{
    border-radius: 5px;
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    width: 80px;
    height: 36px;
}
.button:hover{
    background-color: red;
}
.sumate{
    margin-left: 35%;
    margin-top: 80px;
}
.donar{
    margin-left: 20%;
    margin-top: 80px;
}

@media screen and (max-width: 500px){
    .main{
        height: 150px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .sumate{
        margin: 0;
        margin-left: 65%;
        padding-top: 10%;
    }
    .donar{
        padding-top: 5%;
        margin: 0;
        margin-left: 65%;
    }
}