.main{
    
    display: flex;
    width: 100%;
    justify-content: space-around;
    /* padding-top: 20px; */
    background-color: rgba(128, 134, 128, 0);
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    justify-content: space-around;
    margin-left: 5%;
    margin-right: 15%;
    padding-right: 10%;
    height: auto;
   
}
.contain{
  display: flex;
  flex-direction: column;
}
.card{
    display: flex;
    flex-direction: column;
    width: 90%;
    
}
.title{
    background-color: grey;
    display: flex;
    flex-direction: column;
}
.maintitle{
    color: black;
}
.cardcontainer{
    border-radius: 15px;
     background-image: url(../../Images//manosDonando.png);
     height: 250px;
     background-size: cover; 
     
}
.cardcontainer2{
    border-radius: 15px;
     background-image: url(../../Images//manosDonando.png);
     height: 30%;
}
.slidecontainer{
  /* max-width: 1120px; */
  width: 100%;
  /* padding: 40px 0; */
}
.triangulo_rectangulo {
  width: 0;
  height: 0;
  text-indent: -9999px;
  border-top: 50vh solid #FE6A04;
  border-right: 50px solid transparent;
}
.slidecontent{
  margin: 0 40px;
  overflow: hidden;
  border-radius: 25px;
}
.card{
  border-radius: 25px;
  background-color: rgb(240, 227, 89);
}
/* .imagecontent,
.cardcontent{
  display: flex;
  flex-direction: column;
  align-items: center;
} */
 /*  padding: 10px 14px; */
.imagecontent{
 /*  position: relative; */
  row-gap: 5px;
  padding: 0px 0;
}


.sumate{
  text-align: center;
  background-color: rgb(236 231 231 / 50%);
}
.sumate2{
  max-width: 80%;
  text-align: center;
 margin-left: 10%;
}
.cardimage{
  position: relative;
  height: 40%;
  width: 100%;
  border-radius: 10%;
  
}

.name{
  font-size: 18px;
  font-weight: 500;
  color: #333;
}
.description{
  font-size: 14px;
  color: #707070;
  text-align: center;
}
.button{
  border: none;
  font-size: 16px;
  font-weight: bold;
  color: black;
  padding: 8px 16px;
  background-color: rgb(240, 227, 89);
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: #333;
}
.button:hover{
  background: #265DF2;
}



@media screen and (max-width: 768px) {
  .slidecontent{
    margin: 0 10px;
    margin-bottom: 10%;
  }
  .triangulo_rectangulo{
    display: none;
  }
 
  .card{
    margin-bottom: 10%;
    text-align: center;
  }
  .slidecontainer{
    text-align: center;
  }
  .cardimage{
    height: 150px;
    width: 70%;
    margin-left: 15%;
    display: flex;
    align-items: center;
    
    
  }
  
  .container{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .sumate2{
    font-family: fantasy;
    text-align: center;
    margin-left: 10%;
  }
  .sumate3{
    font-family: fantasy;
    text-align: center;
    
  }
  
}


@media screen and (max-width: 500px){
    .main{
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .container{
    display: flex;
    flex-direction: column;
}

    
}